@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-pops: var(--font-poppins);
  --font-satoshi: var(--font-satoshi);
}

@layer base {
  *,
  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-pops);
    scroll-behavior: smooth;
  }
  button {
    @apply cursor-pointer;
  }
  h1 {
    @apply -tracking-[2px];
  }
  
}

@layer components {
  .box {
    @apply border border-gray-300 dark:border-gray-400/10 bg-white dark:bg-[#141414];
  }
  .cursor-trail {
    will-change: transform;
    backface-visibility: hidden;
    perspective: 1000px;
  }
  @keyframes tech-slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%) }
  }
  
  .tech-stack-slider {
    animation: tech-slide 30s linear infinite;
    width: max-content;
  }
  
  .tech-stack-slider:hover {
    animation-play-state: paused;
  }
}
