@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-pops: var(--font-poppins);
  --font-don: var(--font-dongle);
}

@layer base {
  *,
  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-geist-karla);
  }
  button {
    @apply cursor-pointer;
  }
  h1 {
    @apply -tracking-[2px];
  }
  
}

@layer components {
  .box {
    @apply border border-gray-300 dark:border-gray-400/10 bg-white dark:bg-[#141414];
  }
}
