
.logo{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  animation: fill 0.5s ease forwards 2.9s;
}
.logo path:nth-child(1)
{
  stroke-dasharray: 380;
  stroke-dashoffset: 380;
  animation: h3llo 2s ease forwards 0.3s;
}
.logo path:nth-child(2)
{
  stroke-dasharray: 363;
  stroke-dashoffset: 363;
  animation: h3llo 2s ease forwards 0.5s;
}

.logo path:nth-child(3)
{
  stroke-dasharray: 221;
  stroke-dashoffset: 221;
  animation: h3llo 2s ease forwards 0.7s;
}
.logo path:nth-child(4)
{
  stroke-dasharray: 221;
  stroke-dashoffset: 221;
  animation: h3llo 2s ease forwards 0.9s;
}
.logo path:nth-child(5)
{
  stroke-dasharray: 315;
  stroke-dashoffset: 315;
  animation: h3llo 2s ease forwards 0.11s;
}
@keyframes h3llo{
  to{
    stroke-dashoffset: 0;
  }
}
@keyframes fill{
  from{
    fill:transparent;
  }
  to{
    fill:#FFEEAD;
  }
}




